body {
    background-image: url(images/light_honeycomb.png);
}
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    float: left;
    padding: 20px;
    color: white;
}    
hr {
    height: 2px; 
    background: grey; 
}
h1 {
    text-align: left;
    color: teal;
}

/* header Style Starts*/
.header {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    border-bottom: solid grey 5px;
    position: fixed;
}  
.empty {
    width: 17.33%;
    background-color: white;
    float: left;
    margin: 1px;
} 
.content {
    width: 66.33%;
    background-color: #ffffff;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    float: right;
    }
li {
    float: left;
  }
li a {
    display: block;
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3a3a;
  }
  li a:hover {
    background-color: #4aaaa5;
  }
/*Header Style Ends*/

/* Middle  Style Starts */

.center {
    width: 100%;
    float: left;
 } 
 .container {
    background-color: #ffffff;
    padding: 20px;
    width: 66%;
    height: 70vh;
  }
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.pic {
    float: left;
    width: 20%;
    position: relative;;

}
.text {
    float: left;
    width: 70%;
    position: relative;
    padding-left: 50px;
}
/* Middle Style Ends*/

/* Footer Style Starts*/
div.footer {
    background-color: #666666;
    width: 100%;
    height: 10vh;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: solid teal 10px;
    float: left;
} 
/* Footer Style Ends*/

/* Portfolio Section Starts */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 24%;
    margin: 5px;
    padding: 10px;
  }
  
/* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Portfolio Section Ends */

/* Contact Page */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
